---
const { about, portofolio, contact } = {
  about: { name: 'O meni', href: 'o-meni' },
  portofolio: { name: 'Galerja', href: 'galerija' },
  contact: { name: 'Kontakt', href: 'kontakt' },
}
---

<div
  class="h-16 sticky top-0 z-30 bg-opacity-90 backdrop-blur text-primary-content transition-all duration-100"
  id="main-nav-container"
>
  <nav class="navbar w-full" aria-label="Glavna navigacija">
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost normal-case text-xl lg:text-2xl"
        >EdiWeb</a
      >
    </div>
    <div class="navbar-end">
      <div class="hidden sm:flex">
        <ul class="menu menu-horizontal px-1 lg:text-lg">
          <li><a href={about.href}>{about.name}</a></li>
          <li><a href={portofolio.href}>{portofolio.name}</a></li>
          <li><a href={contact.href}>{contact.name}</a></li>
        </ul>
      </div>

      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost sm:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 text-base-content"
        >
          <li><a href={about.href}>{about.name}i</a></li>
          <li><a href={portofolio.href}>{portofolio.name}</a></li>
          <li><a href={contact.href}>{contact.name}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<script>
  const navEl = document.getElementById('main-nav-container') as HTMLElement
  let isPageScroll = false

  document.addEventListener('scroll', (e) => {
    if (window.scrollY < 25) {
      if (isPageScroll) {
        navEl.classList.remove('bg-base-100', 'text-base-content', 'shadow-sm')
        navEl.classList.add('text-primary-content')
        isPageScroll = false
      }
    }

    if (window.scrollY > 25) {
      if (!isPageScroll) {
        navEl.classList.remove('text-primary-content')
        navEl.classList.add('bg-base-100', 'text-base-content', 'shadow-sm')
        isPageScroll = true
      }
    }
  })
</script>
