---
import { productsRef } from '../../firebase/utility/firestore'
import Layout from '../../layouts/MainLayout.astro'

type ProductPreviewT = {
  id: string
  name: string
  price: number
  imageUrl: string
}

let products: ProductPreviewT[] | undefined

try {
  const snapshot = await productsRef
    .select('name', 'price', 'imageUrl')
    .orderBy('created_at', 'desc')
    .limit(10)
    .get()

  products = snapshot.docs.map((doc) => ({
    id: doc.id,
    name: doc.data().name,
    price: doc.data().price,
    imageUrl: doc.data().imageUrl,
  }))
} catch (error) {
  products = undefined
}
---

<Layout>
  <h1 class="text-2xl font-bold my-8">Products:</h1>

  {
    products ? (
      <ul class="flex gap-4">
        {products.map((product) => (
          <li class="basis-1/4 rounded bg-base-200 border border-neutral/30 hover:bg-base-300">
            <a
              href={`/products/${product.id}`}
              class="space-y-4 p-4 rounded block"
            >
              <h2 class="text-lg text-center">{product.name}</h2>
              <img
                src={product.imageUrl}
                alt={product.name}
                class="w-[92%] rounded mx-auto"
              />
              <p>
                <span>Price:</span> <strong>{product.price} $</strong>
              </p>
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <p>No Products jet!</p>
    )
  }
</Layout>
