---
const navData = {
  about: { name: 'O nama', href: '/o_nama' },
  contact: { name: 'Kontakt', href: '/kontakt' },
}
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost normal-case text-xl">PoÄetna</a>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost sm:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path></svg
        >
      </label>
      <ul
        tabindex="0"
        class="menu menu-normal dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href={navData.about.href}>{navData.about.name}</a></li>
        <li><a href={navData.contact.href}>{navData.contact.name}</a></li>
      </ul>
    </div>

    <div class="hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href={navData.about.href}>{navData.about.name}</a></li>
        <li><a href={navData.contact.href}>{navData.contact.name}</a></li>
      </ul>
    </div>
  </div>
</div>
