---
import type { ProductT } from '../../firebase/utility/firestore'

export interface Props {
  products: ProductT[] | undefined
}

const { products } = Astro.props
---

<h2>Last added product</h2>
{
  products ? (
    <ul id="products">
      {products.map((product) => (
        <li>
          <div>
            <h2>
              <a href={`/dashboard/${product.id}`}>{product.name}</a>
            </h2>
            <p>{product.desc}</p>
            <a href={product.imageUrl}>Image Link</a>
            <button data-product-id={product.id}>Delete product</button>
            <br />
          </div>
        </li>
      ))}
    </ul>
  ) : (
    <p>No products in store!</p>
  )
}

<script>
  const productListEl = document.getElementById('products')
  productListEl?.addEventListener('click', (e) => {
    const clickedEl = e.target as HTMLElement
    // is button clicked
    if (clickedEl.hasAttribute('data-product-id')) {
      const productId = clickedEl.dataset.productId
      productId && sendeDeleteProductRequest(productId)
    }
  })

  async function sendeDeleteProductRequest(id: string) {
    if (!confirm('Delete product from store. Are you shure?')) return

    const res = await fetch(`/dashboard/${id}`, {
      method: 'delete',
    })

    if (res.redirected) {
      window.location.assign(res.url)
    } else {
      alert('Something gone wrong, error just happened!')
    }
  }
</script>
